.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  background-color: transparent;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.table-sm th,
.table-sm td {
  padding: 0.3rem;
}

.table-bordered {
  border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6;
}

.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}

.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless tbody + tbody {
  border: 0;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
  color: #212529;
  background-color: rgba(0, 0, 0, 0.075);
}
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table-responsive > .table-bordered {
  border: 0;
}

.border-dark {
  border-color: #343a40 !important;
}

.mt-0,
.my-0 {
  margin-top: 0 !important;
}

.position-absolute {
  position: absolute !important;
}

.rounded-circle {
  border-radius: 50% !important;
}
.text-center {
  text-align: center !important;
}

.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
}

.row {
  width: 100%;
}

.my-3 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.bg-dark{
  background-color: #222629;
  color: #fff;
}

.text-white {
  color: #fff !important;
}

.border-dark {
  border-color: #343a40 !important;
}

.align-middle {
  vertical-align: middle !important;
}

.bg-info {
  background-color: #17a2b8 !important;
}

.bg-secondary {
  background-color: #6c757d !important;
}

.bg-success {
  background-color: #28a745 !important;
}

.bg-primary {
  background-color: #007bff !important;
}

.bg-danger {
  background-color: #dc3545 !important;
}

.bg-warning {
  background-color: #ffc107 !important;
}

.bg-purple {
  background-color: #6f42c1 !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.badge {
  border: 1px solid #000;
}
